{erl_opts, [no_debug_info]}.
{deps, [
    {erlzmq, {git, "http://github.com/esl/erlzmq.git", {tag, "3.0.1"}}}
    ]}.

{escript_incl_apps,
 [server]}.
{escript_main_app, server}.
{escript_name, server}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
